# SQL  Structured query Language

Relational database

In [1]:
import sqlite3

# Creating databse

In [2]:
con = sqlite3.connect('college.db')

In [3]:
con

In [4]:
cur = con.cursor() # cursor execute sql query

In [5]:
cur

#  create table sql
``` sql
create table table_name(column_name datatype, Column_name datatpye......)

```

``` sql 
create table student ( roll_no int, name varchar(50))

```

In [6]:
create_query ="""
create table student (roll_no int, name varchar(50))
"""

In [8]:
cur.execute(create_query)

# insert on table

```sql
insert into table_name(column_name, column_name ...) values(val1,val2.....)
```

In [9]:
insert_query ="""
INSERT INTO student(roll_no, name)
values
(1,'Kshitiz'),
(2, 'Sandesh'),
(3, 'Harish'),
(4,'Surbir')
"""

In [11]:
cur.execute(insert_query)

# select statement in sql

In [12]:
query ="select * from student"

In [13]:
cur.execute(query)

In [14]:
cur.execute(query).fetchall()

[(1, 'Kshitiz'), (2, 'Sandesh'), (3, 'Harish'), (4, 'Surbir')]

In [18]:
query = """
select name from student where roll_no = 3
"""

In [19]:
cur.execute(query).fetchall()

[('Harish',)]

In [41]:
query = """
select name from student where name like 'S%'
"""

In [42]:
cur.execute(query).fetchall()

[('Sandesh',), ('Surbir',)]

# update

```sql
update table_name
set col = val
where
id = id
```

In [43]:
query = """
update student
set name ='Kshitiz Regmi'
where roll_no = 1
"""

In [44]:
cur.execute(query)

In [45]:
cur.execute("select * from student").fetchall()

[(1, 'Kshitiz Regmi'), (2, 'Sandesh'), (3, 'Harish'), (4, 'Surbir')]

# delete
``` sql
delete from table_name
where id = id
```

In [46]:
cur.execute('delete from student where roll_no = 1')

In [47]:
cur.execute('select * from student').fetchall()

[(2, 'Sandesh'), (3, 'Harish'), (4, 'Surbir')]