# Tuples

Collection of item nder on variable name.

* Are immutables
* allows duplicate
* ordered
* indexed

Tuples are written inside round brackets with items seperated by comma(,).

*Read only and sensitive data are stored in tuple*

In [1]:
# creating empty tuples
tup =()

In [2]:
type(tup)

tuple

In [3]:
tup = tuple()

In [4]:
type(tup)

tuple

In [5]:
manparne_book = ('Palpasa Cafe', 'Start with Why', 'Eat that Frog','The stranger','Kite Runner','Blindness')

In [6]:
manparne_book[0] # indexing

'Palpasa Cafe'

In [7]:
manparne_book[-1] # -ve indexing

'Blindness'

In [10]:
manparne_book[1] ='Muna Madan' # tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [15]:
for book in manparne_book:
    print(book)

Palpasa Cafe
Start with Why
Eat that Frog
The stranger
Kite Runner
Blindness

In [16]:
for index, book in enumerate(manparne_book):
    print(index,book)

0 Palpasa Cafe
1 Start with Why
2 Eat that Frog
3 The stranger
4 Kite Runner
5 Blindness

In [17]:
data = (55,6,9)

In [18]:
data

(55, 6, 9)

In [19]:
type(data)

tuple

In [26]:
data = list(data)
print(id(data))
data.append(0)
data = tuple(data)
print(id(data))
print(data, type(data))

2258240909376
2258241062128
(55, 6, 9, 0, 0) <class 'tuple'>

In [32]:
tuple1 =("apple", "Banana", "cherry")
tuple2  = ("Kshitiz","surbir",8080)
tuple3 = (1,2,3)
tuple4 = (["kshitiz", "regmi"] , [1,2,3])
id(tuple4)

2258244386368

In [28]:
type(tuple4)

tuple

In [29]:
tuple4[0][1]="hello"

In [30]:
tuple4

(['kshitiz', 'hello'], [1, 2, 3])

In [31]:
id(tuple4)

2258240891840

In [ ]:
tuple4 =